<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="true"
         failOnDeprecation="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="psr4">
            <file>test/AllOfTest.php</file>
            <file>test/AnyOfTest.php</file>
            <file>test/AlwaysTrueTest.php</file>
            <file>test/AlwaysFalseTest.php</file>
            <file>test/IsEqualTest.php</file>
            <file>test/IsInstanceOfTest.php</file>
            <file>test/IsNullTest.php</file>
            <file>test/NotTest.php</file>
            <file>test/PregMatchTest.php</file>
        </testsuite>
        <testsuite name="psr0">
            <file>test/AndTest.php</file>
            <file>test/OrTest.php</file>
            <file>test/NullTest.php</file>
        </testsuite>
    </testsuites>

    <source restrictNotices="true"
            restrictWarnings="true"
            ignoreIndirectDeprecations="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
